
.left_panel{
background:transparent;
height: 300%;
left: 0;
margin: 0;
padding: 0;
position: absolute;
top: 80px;
width: 33.3333%;
word-wrap: break-word; 
}

.right_panel{
    background:transparent;
    height: 300%;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 80px;
    width: 66.6666%;
}

#project_title{    
    background: transparent;
    float: left;
    font-size: 20px;
    left: 0px;
    margin: 0;
    padding: 30px 60px 0px 30px ;
    position: sticky;
    top: 0px;
}

#project_description{
    background: transparent;
    float: left;
    font-size: 15px;
    margin: 0;
    padding: 30px 60px 0px 30px;
    position: sticky;
    top: 50px;
    text-align:justify; 
}

.slide{
position: relative;
    background: black;
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    padding-top: 50%;
    margin: 0;
}

#slide_00{background-image: url('../images/major_project/major_01.jpg')}
#slide_01{background-image: url('../images/major_project/major_02.jpg')}
#slide_02{background-image: url('../images/major_project/major_03.jpg')}

iframe{
position: relative;
width: 100%;
}